
  <form id="form" (submit)="onSubmit()" [formGroup]="registerForm">
    <!-- <div *ngIf="errorSms!">
      <span>{{errorSms}}</span>
    </div> -->
    <!-- <div class="wrapper"> -->
        <!-- <div class="container main "> -->
            <div class="row p-4">
                <!-- <div class="col-md-6 side-image">
                    <img src="images/white.png" alt="">
                </div> -->
                <!-- <div class="col-md-12 right border border-danger"> -->
                     <div class="input-box " style="margin:10px auto">
                        <!-- <header style="font-size: 30px;">Modifier mot de passe</header><br> -->

                        <div class="input-field">
                          <input type="password" class="input" id="password" name="password" type="text" id="password"
                            name="password" [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}"
                            placeholder="" formControlName="password" type="password" required>
                          <label for="password">Mot de passe actuel<span style="color: red;">*</span></label>
                          <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors"
                            class="text-danger">
                            <div
                              *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors['required']">
                              Ce champ est requis
                            </div>
                            <div
                              *ngIf="!registerForm.controls['password'].errors['required'] && registerForm.controls['password'].errors['minlength']">
                              Password minimun 6 caractères
                            </div>
                          </div>
                        </div> <br>

                        <div class="input-field">
                          <input type="password" class="input" id="password1" name="password1" type="password" id="password1"
                            name="password" [ngClass]="{'is-invalid':submitted && registerForm.controls['password1'].errors}"
                            placeholder="" formControlName="password1" type="password" required>
                          <label for="password1">Nouveau mot de passe<span style="color: red;">*</span></label>
                          <div *ngIf="registerForm.controls['password1'].dirty && registerForm.controls['password1'].errors"
                            class="text-danger">
                            <div
                              *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password1'].errors['required']">
                              Ce champ est requis
                            </div>
                            <div
                              *ngIf="!registerForm.controls['password1'].errors['required'] && registerForm.controls['password1'].errors['minlength']">
                              Password minimun 6 caractères
                            </div>
                          </div>
                        </div> <br>


                        <div class="input-field">
                          <input type="password" class="input" id="password2" name="password1" type="password" id="password1"
                            name="password" [ngClass]="{'is-invalid':submitted && registerForm.controls['password1'].errors}"
                            placeholder="" formControlName="password2" type="password" required>
                          <label for="password1">Confirmer mot de passe<span style="color: red;">*</span></label>
                          <div *ngIf="registerForm.controls['password2'].dirty && registerForm.controls['password2'].errors"
                            class="text-danger">
                            <div
                              *ngIf="registerForm.controls['password2'].dirty && registerForm.controls['password2'].errors['required']">
                              Ce champ est requis
                            </div>
                            <div
                              *ngIf="!registerForm.controls['password2'].errors['required'] && registerForm.controls['password2'].errors['minlength']">
                              Password minimun 6 caractères
                            </div>
                          </div>
                        </div> <br>

                        <div class="d-grid gap-2 col-10 mx-auto" >
                          <button type="submit" id="button" class="btn">
                           <span class="visually" *ngIf="!spin">Modifier</span>
                           <span class="spinner-border spinner-border-sm" *ngIf="spin" role="status" aria-hidden="false"
                             style="color: white;"></span>
                         </button>
                       </div><br>

                       </div>
                <!-- </div> -->
            </div>
        <!-- </div> -->
        <!-- </div> -->
  </form>

