.titre{

  background-color: #FFFFFF;
  font-size: 22px;
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 12px;
   height: 50px;
   margin:10px auto;
   padding-top: 7px ;
    box-shadow: 1px 2px 2px 2px #000000;
}

.font{
height: 30px;
}
.bag
{ 
 background-color: #D1F4F0;
 
}
.header{
    height: 60px;
}.bas{    
    // height: 130px;
    width: 200px; 
    border-radius: 10px;
    // border: 2px solid;
    display: flex;
    justify-content: center;
    
    // background-color: black;
}.ff{
    height: 100px;
    width: 200px; 
  
  
}

.input-group{
//    display: flex;
//    justify-content: center;
    width: 75%;
    margin: 0 auto;
}
.form-outline{
     margin-top: auto; 
     width: 20%;
  
}#haut{
    // margin-top: -190px; 
    width: 100%;
    // height: 100%;
    margin: 0 auto;
}
#ht{
    
    height: auto;
}

p{
   display: flex;
   justify-content: center;
}

th
{
    padding-top: 9px;
}